//Screen's width
$mobileW: 320px;
$tableW: 768px;
$tableDesktopW: 1050px;
$desktopW: 1440px;
$viewportD: 1440;
$index: calc(1vw + 1vh);


//color
$dark-bg: #011f1f;
$color-second: #5918df;
$color-beige: #F2EFE6;
$dark-color: #070707;
$color-dark-orange: #C38133;
$accent-bg: linear-gradient(-180deg,#1a1527,#0e0c16 88%,#0e0c16 99%);

// Base variable
$accent: #000000;
$fontweight: 300;
$textcolor: #FFFFFF;
$lineheight: 1.2;
$fontsize: 1.125rem;
$userfont: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$ptSans: 'PT Sans Narrow', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$trans: 0.3s ease-in-out;

$scrollTrans: 0.8s cubic-bezier(.05, .5, 0, 1);
$baseTrans: 0.8s ease;