//Screen's width
$mobileW: 320px;
$tableW: 768px;
$desktopW: 1200px;
$viewportD: 1440;

//color
$color-beige: #F2EFE6;

// Base variable
$accent: #ffffff;
$textcolor: #000000;
$lineheight: 1.1;
$fontsize: 18px;
$userfont: 'Raleway', sans-serif;