.about-page {
  .wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    perspective: 1500px;
    background-color: #000000;
    color: #ffffff;
  }
}

.about {
  transform-style: preserve-3d;
  height: 100%;
}

.about__frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $scrollTrans;
  will-change: transform;
  transform-style: preserve-3d;
}


.about__title {
  font-family: $montserrat;
  text-align: center;
  font-weight: 200;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: calcFluidFontSize(30, 50, 320, 1440);
}

.about__content {
  position: relative;
}

.about__content--left {
  text-align: right;
  @media (min-width: $tableW) {
    transform: translateX(-55%);
  }
}

.about__content--right {
  @media (min-width: $tableW) {
    transform: translateX(55%);
  }
}

.about__img {
  max-width: 600px;
  width: 100%;
}

.about__video {
  height: auto;
  width: 100%;
  max-width: 1100px;
  max-height: 1000px;
}

.about__bg {
  &::after {
    content: '';
    width: 200vw;
    position: absolute;
    z-index: -1;
    height: 200vh;
    background-color: rgba(0,0,0, 0.9);
  }
}

.about__bg-text {
  background-color: rgba(0,0,0, 0.9);
}


.about__bg-text {
  @media (min-width: $tableW) {
    background-color: transparent;
  }
}

.about__text{
  @media (min-width: $tableW) {
    width: 65vw;
  }

  @media (min-width: $desktopW) {
    width: 50vw;
  }

  h3 {
    font-family: $montserrat;
    text-transform: uppercase;
    font-size: calcFluidFontSize(40, 70, 320, 1440);
    margin: 0;
    margin-bottom: 0.3em;
  }

  p {
    margin: 0;
    line-height: 1.4;
    font-size: calcFluidFontSize(20, 35, 320, 1440);
  }

  li {
    line-height: 1.3;
    font-size: calcFluidFontSize(16, 28, 320, 1440);
  }

  strong {
    font-size: calcFluidFontSize(16, 28, 320, 1440);
  }
}


@keyframes textUp {
  from {
    height: 0;
  }
  to {
    height: 40px;
  }
}

.about__skill {
  height: 0;
  overflow: hidden;
}

.about__skill--anime {
  animation: textUp $scrollTrans forwards;
}
