.gallery {
  overflow: hidden;
}

.gallery__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery__item {
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__img {
  display: block;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.gallery__one {
  margin-right: 15px;
}


.gallery__two,
.gallery__one {
  will-change: transform;
  transform: translateY(0) translateZ(0);
}

.gallery__two .gallery__img {
  padding-top: 110%;

  @media (min-width: $desktopW) {
    padding-top: 100%;
  }
}

.gallery__two .gallery__item:nth-child(2n) .gallery__img{
  padding-top: 130%;

  @media (min-width: $desktopW) {
    padding-top: 120%;
  }
}

.gallery__one .gallery__img {
  padding-top: 140%;
}

.gallery__subtitle {
  pointer-events: none;
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-family: $ptSans;

  font-size: calcFluidFontSize(14, 18, 320, 1440);
  color: #ffffff;

  strong {
    font-size: calcFluidFontSize(12, 16, 320, 1440);
    font-family: $oswald;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media (min-width: $tableDesktopW) {
  .index-body {
    .gallery {
      flex: 0 0 50%;
      order: -1;
      padding-right: 35px;
      background-color: #ffffff;
    }

    .gallery__one {
      margin-right: 35px;
    }

    .gallery__item {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
