@keyframes gallerySwap-1 {
  from {
    left: 0;
    transform: rotate(0deg);
  }
  40% {
    left: 0;
    transform: rotate(0deg);
  }
  
  55% {
    left: -30%;
    transform: rotate(-15deg) scale(0.7);
  }

  to {
    left: -30%;
    transform: rotate(-15deg) scale(0.7);
  }
}
@keyframes gallerySwap-2 {
  from {
    top: 0;
    transform: rotate(0deg);
  }
  40% {
    top: 0;
    transform: rotate(0deg);
  }
  55% {
    left: 25%;
    top: -5%;
    transform: rotate(5deg) scale(0.7);
  }

  to {
    left: 25%;
    top: -5%;
    transform: rotate(5deg) scale(0.7);
  }
}
@keyframes gallerySwap-3 {
  from {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  40% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  
  55% {
    left: 55%;
    transform: rotate(30deg) scale(0.7);
  }

  to {
    left: 55%;
    transform: rotate(30deg) scale(0.7);
  }
}


.gallery {
  overflow: hidden;
}

.gallery__inner {
  display: flex;
  align-items: flex-start;
}

.gallery__item {
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__img {
  overflow: hidden;
  display: block;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    transition: $trans;
  }
}

.gallery__img-inner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  height: 80%;
  width: 80%;

  @media (min-width: 500px) {
    height: 70%;
    width: 70%;
  }

  @media (min-width: $desktopW) {
    height: 80%;
    width: 75%;
  }
}

.gallery__img--horizontal .gallery__img-inner{
  height: 45%;
  width: 85%;
  top: 40%;
}

.gallery__img {
  background:  linear-gradient(200deg, $color-beige, $color-dark-orange);

  img {
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.1);
  }

  picture:nth-child(1) img {
    width: 60%;
    animation: gallerySwap-3 7s ease infinite alternate-reverse;
  }
  picture:nth-child(2) img {
    width: 70%;
    animation: gallerySwap-2 7s ease infinite alternate-reverse;
  }
  picture:nth-child(3) img {
    animation: gallerySwap-1 7s ease infinite alternate-reverse;
  }
}

.gallery__one {
  margin-right: 15px;
}

.gallery__two,
.gallery__one {
  flex: 1 1 50%;
  transition: transform 0.5s cubic-bezier(0.19, 1.53, 0.72, 0.91);
  will-change: transform;
  transform: translateY(0) translateZ(0);
}

.gallery__two .gallery__img {
  padding-top: 115%;
}

.gallery__two .gallery__item:nth-child(2n) .gallery__img {
  padding-top: 130%;

  @media (min-width: $desktopW) {
    padding-top: 120%;
  }
}

.gallery__one .gallery__img {
  padding-top: 140%;
}

.gallery__subtitle {
  margin: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding: calc(0.8vw + 0.8vh);
  padding-bottom: calc(0.5vw + 0.5vh);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-family: $ptSans;

  font-size: calcFluidFontSize(14, 18, 320, 1440);
  color: #ffffff;

  strong {
    font-size: calcFluidFontSize(12, 16, 320, 1440);
    font-family: $oswald;
    font-weight: 500;
    text-transform: uppercase;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7));

    @media (min-width: 500px) {
      background: transparent;
    }
  }
}

@media (min-width: $tableDesktopW) {
  .index-body {
    .gallery {
      flex: 0 0 50%;
      order: -1;
      padding-right: 15px;
      background-color: #ffffff;
    }

    .gallery__one {
      margin-right: 15px;
    }

    .gallery__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
