.gallery {
  overflow: hidden;
  background-color: rgba(0,0,0, 0.3);

  @media (min-width: $desktopW) {
    background-color: rgba(0,0,0, 0.9);
  }
}

.gallery__inner {
  display: flex;
  align-items: flex-start;
}

.gallery__item {
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__img {
  overflow: hidden;
  display: block;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    transition: $trans;
  }
}

.gallery__img-inner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  height: 100%;
  width: 100%;
}

.gallery__img--horizontal .gallery__img-inner {
  height: 50%;
  width: 100%;
  top: 40%;

  img {
    border-radius: 5px;
  }
}

.gallery__one {
  margin-right: 10px;
}

.gallery__two,
.gallery__one {
  flex: 1 1 50%;
  transition: transform 0.2s cubic-bezier(0.19, 1.53, 0.72, 0.91);
  will-change: transform;
  transform: translateY(0) translateZ(0);
}

.gallery__two .gallery__img {
  padding-top: 115%;
}

.gallery__two .gallery__item:nth-child(2n) .gallery__img {
  padding-top: 130%;

  @media (min-width: $desktopW) {
    padding-top: 120%;
  }
}

.gallery__one .gallery__img {
  padding-top: 140%;
}

.gallery__subtitle {
  margin: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding: calc(0.8vw + 0.8vh);
  padding-bottom: calc(0.5vw + 0.5vh);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-family: $ptSans;

  font-size: calcFluidFontSize(14, 18, 320, 1440);
  color: #ffffff;

  strong {
    font-size: calcFluidFontSize(12, 16, 320, 1440);
    font-family: $oswald;
    font-weight: 500;
    text-transform: uppercase;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  }
}

@media (min-width: $tableDesktopW) {
  .index-body {
    .gallery {
      flex: 0 0 50%;
      order: -1;
      padding-right: 15px;
    }

    .gallery__one {
      margin-right: 15px;
    }

    .gallery__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
