.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: $tableDesktopW) {
    position: fixed;
  }
}

.header__data {
  margin: 0;
  font-size: calcFluidFontSize(16, 26, 320, 1440);

  @media (min-width: $desktopW) {
    font-size: calc(1rem + 0.5vw);
  }
}