@keyframes popupUp {
  from {
    width: 0%;
  }

  40% {
    width: 30%;
  }

  100% {
    width: 100%;
  }
}

@keyframes popupDown {
  from {
    height: 100%;
  }

  40% {
    transform: scale(2) rotate(15deg);
  }

  100% {
    transform: scale(3) rotate(0deg) translateX(-100%);
  }
}

.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 40;
  background-color: #ffffff;
  overflow: hidden;
  overflow-y: scroll;

  animation: popupUp 1.5s ease forwards;
}

.popup__header,
.popup__main,
.popup__footer {
  position: relative;
  width: 100%;
}

.popup__header {
  height: 100vh;
}

.popup__footer {
  min-height: 100vh;
  background-color: $color-beige;

  @media (min-width: $tableW) {
    min-height: auto;
  }

  video {
    object-fit: contain;
    height: 100vh;
    width: 100%;
    object-position: 50% 50%;


    @media (min-width: $tableW) {
      height: auto;
    }
  }
}

.popup__content {
  display: flex;
  flex-direction: column;
  padding: 60px 25px 150px 25px;
  min-height: 100vh;

  @media (min-width: 480px) {
    width: 70%;
  }

  @media (min-width: $tableW) {
    min-height: auto;
    padding: 60px 25px 80px 25px;
  }
  
  @media (min-width: 1000px) {
    width: 50%;
    flex: 0 0 50%;
  }

  @media (min-width: $desktopW) {
    padding: 5em;
  }
}

.popup__main {
  font-size: calcFluidFontSize(16, 24, 320, 1440);
  min-height: 100vh;

  @media (min-width: $tableW) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1000px) {
    flex-direction: row;
  }

  @media (min-width: $desktopW) {
    font-size: calc(1rem + 0.5vw);
  }
}

.popup__title {
  margin: 0;
  text-transform: uppercase;
  font-family: $oswald;
  font-size: calcFluidFontSize(11, 16, 320, 1440);
  font-weight: 500;
}

h2.popup__title {
  margin-bottom: 20px;
}

.popup__body {
  height: 100vh;
  width: 100%;
}
.popup__img {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center top;
}

.popup__img--mobile {
}
.popup__img--table {
}
.popup__img--desktop {
}
.popup__top {
  margin-bottom: 4em;

  @media (min-width: $tableW) {
    margin-bottom: 2em;
  }
}

.popup__visit {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: $oswald;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calcFluidFontSize(12, 18, 320, 1440);

  &::before {
    content: '';
    width: 0;
    height: 0;
    background-color: yellow;
    border-radius: 50%;
    transition: $trans;
  }

  &:hover,
  &:focus {
    &::before {
      margin-right: 5px;
      width: 0.5em;
      height: 0.5em;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.popup__text {
  margin: 0;
  
}
.popup__bottom {
  margin-top: auto;
  font-size: calcFluidFontSize(14, 18, 320, 1440);

  @media (min-width: $tableW) {
    display: flex;
    justify-content: space-between;
  }

  .popup__item:first-child {
    @media (min-width: $tableW) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }


  .popup__item:last-child {
    font-family: $ptSans;
  }
}

h3.popup__title {
  margin-bottom: 10px;
}

.popup__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.popup__body-img {
  display: none;

  @media (min-width: $tableW) {
    margin-top: auto;
    width: 100%;
    display: block;
    height: 300px;
  }

  @media (min-width: 1000px) {
    min-height: 100vh;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.popup__addition {
  margin: 0;
}

.popup__close {
  z-index: 45;
}