.works-page {
  .gallery__inner {
    @media (min-width: $tableW) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .gallery__big--padding {
    padding-bottom: 15px;
    @media (min-width: $tableW) {
      padding-bottom: 0;
    }
  }

  .gallery__small--margin {
    @media (min-width: $tableW) {
      margin-right: 15px;
    }
  }
}