.works-page {
  .gallery__one,
  .gallery__two {
    @media (min-width: $tableW) {
      flex: 1 1 25%;
    }
  }


  .gallery__one--padding {
    @media (min-width: $tableW) {
      padding-bottom: 0;
    }
  }

  .gallery__two--margin {
    @media (min-width: $tableW) {
      margin-right: 15px;
    }
  }
}