.works-page {
  .gallery__one,
  .gallery__two {
    transition: transform 0.5s cubic-bezier(0.19, 1.53, 0.72, 0.91);

    @media (min-width: $tableW) {
      flex: 1 1 25%;
    }
  }


  .gallery__one--padding {
    @media (min-width: $tableW) {
      padding-bottom: 0;
    }
  }

  .gallery__one .gallery__img {
    padding-top: 150%;
  }

  .gallery__one--padding .gallery__item:nth-child(2n) .gallery__img {
    padding-top: 125%;
  }

  .gallery__two .gallery__img {
    padding-top: 110%;
  }
  
  .gallery__two--margin .gallery__img {
    padding-top: 100%;
  }

  .gallery__img--horizontal .gallery__img-inner {
    height: 50%;
    width: 85%;
    top: 30%;
  }

  .gallery__two--margin {
    @media (min-width: $tableW) {
      margin-right: 15px;
    }
  }
}